body {
  height: 600px;
}
input:focus {
  box-shadow: none !important;
}
.error {
  color: red !important;
}

.white-phone {
  position: absolute;
  z-index: 1;
  top: 60px;
  height: 480px;
  width: 300px;
}
.phone-content-container {
  position: relative;
  z-index: 1;
  height: 480px;
  width: 300px;
}
.phone-content {
  position: absolute;
  z-index: 1;
  left: 87px;
  top: 63px;
  width: 200px;
  height: 360px;
  border: 1px solid black;
}
